.btn-square-md {
  width: 100px !important;
  max-width: 100% !important;
  max-height: 100% !important;
  height: 100px !important;
  text-align: center;
  padding: 0px;
  font-size:3em;
}

.btn-button {
  background-color: #8de0a6;
  color: #fcf09f;
}

.btn-button:hover {
  background-color: #fcf09f;
  color: #8de0a6;
}
