$margin-sides: 10em;

.container {
  height: 100vh;
}

.main-row {
  height: 100vh;
}

.row-app {
  border: #fcf09f solid 5px;
}

.settings {
  flex-direction: column;
}

p {
  color: white;
}

.card {
  border: 1px solid white;
  background-color: white;
}
